<launch>
  <include file="$(find second_project)/launch/scout_mini_amcl.launch" />
  
  <!-- Start goal_publisher node with parameters-->

  <param name="csv_file_path" value="$(find second_project)/CSVs/waypoints.csv"/>
  <node name="goal_publisher" pkg="second_project" type="goal_publisher" output="screen"/>

</launch>
